@import 'assets/styles/variable.scss';

.consultationHolder {
	background: $bg-6;
	position: fixed;
	right: -100%;
	top: 0;
	width: 100%;
	max-width: 470px;
	z-index: 99999;
	transition: all ease-in-out 0.5s;
	height: 100%;
	&.active {
		top: 0;
		right: 0;
		box-shadow: rgba(0, 0, 0, 0.3) -50px 0 100px 0;
	}
	.consultationInner {
		overflow: hidden;
		position: relative;
		height: 100%;
		z-index: 5;
		color: $bg-3;
		padding: 40px;
		overflow-y: auto;
		h4 {
			font-size: 22px;
			padding: 0;
			margin-bottom: 20px;
			font-weight: 700;
		}
		h6 {
			font-size: 16px;
			color: $bg-1;
			padding: 0;
			margin-bottom: 30px;
		}
	}
	.schCons {
		position: fixed;
		right: 20px;
		bottom: 20px;
		.schConsBtn {
			display: block;
			border: none;
			background-color: transparent;
			img {
				display: block;
				max-width: 100%;
			}
		}
	}
	.consHolClose {
		position: absolute;
		top: 13px;
		right: 20px;
		color: $bg-1;
		height: 40px;
		width: 40px;
		line-height: 43px;
		text-align: center;
		border-radius: 50%;
		font-size: 1.25rem;
		z-index: 5;
		&:hover {
			background: $bg-1;
			color: #fff;
		}
	}
}

.contactItem {
	padding: 0.8rem 0;
	.ciImg {
		flex: 0 0 46px;
		max-width: 46px;
		span {
			display: block;
			font-size: 20px;
			background: #f3f3f3;
			text-align: center;
			line-height: 42px;
			border-radius: 4px;
			color: #4f4f4f;
		}
	}
	.ciDesc {
		flex: 1 0;
		padding-left: 1rem;
		p {
			color: #979797;
			margin-bottom: 5px;
			font-size: 12px;
			font-weight: 600;
		}
		h5 {
			font-size: 15px;
			padding: 0;
			a {
				color: $bg-4;
				&:hover {
					color: $bg-3;
				}
			}
		}
	}
}

.divider {
	height: 1px;
	background: linear-gradient(90deg, hsla(0, 0%, 49.4%, 0), hsla(0, 0%, 46.7%, 0.2) 48.44%, hsla(0, 0%, 16.9%, 0));
}

.shiduleBox {
	flex: 0 0 calc(50% - 5px);
	max-width: calc(50% - 5px);
	&:not(:last-child) {
		margin-right: 10px;
	}
	a {
		display: block;
		font-size: 14px;
		background: #3d3e40;
		border-radius: 4px;
		border: #26282a 1px solid;
		padding: 10px 28px 15px 10px;
		color: #fff;
		font-weight: 600;
		position: relative;
		border-radius: 10px;
		&:hover {
			background: #212121;
			color: $bg-6;
		}
		&::after {
			content: '\f061';
			position: absolute;
			right: 11px;
			top: 46%;
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			transform: translateY(-50%);
			font-size: 12px;
			color: #01c28d;
		}
		img {
			width: 18px;
			margin-right: 6px;
		}
	}
}

.DescBox {
	margin: 15px 0;
	textarea.form-control {
		background-color: transparent;
		border-color: #26282a;
		font-size: 13px;
		resize: none;
	}
}

.startProjectInner {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 5;
	padding: 40px;
	overflow-y: auto;
	transition: all ease-in-out 0.4s;
}
.startProjectInner.active {
	left: 0;
}

.backBtn {
	color: $bg-1;
	font-weight: 900;
}
.consultationInnerWrap {
	transition: all ease-in-out 0.4s;
}
.consultationInnerWrap.inactive {
	opacity: 0;
	visibility: hidden;
	transform: translate(-10%);
}

.react-tel-input .form-control {
	background-color: transparent;
	border: none;
	border-radius: 5px;
	line-height: 22px;
	height: 22px;
	width: 100%;
	&:focus {
		outline: none;
		box-shadow: none;
		border-color: #f2f2f2;
	}
}
.react-tel-input .flag-dropdown {
	top: auto;
	bottom: 4px;
	background-color: #f5f5f5;
	border: none;
	height: 30px;
}
.react-tel-input .country-list .search-box {
	border: 1px solid #ececec;
	width: calc(100% - 32px);
}
.form-select {
	&:focus {
		outline: none;
		box-shadow: none;
		border-color: #f2f2f2;
	}
}
